In [7]:
import pandas as pd
import random

df = pd.read_excel('Floorball Club Names.xlsx')

In [8]:
attendance = """Declan
cher lynn
jeremyyeh
weils üê≥
mudz
Lutfi
Ding xuan
Jes
Adri
sheryl üóø
Ryan
S H Lee
Kotaru
Raash
kenny
Vernon
Jude
Nicholas
Emmet
Jun Hao
VictoriaChong
Samuel"""

In [9]:
def get_details(attendance):
    attendance = attendance.split('\n')
    ser = pd.Series(attendance)
    df_new = pd.DataFrame({'Tele Name':ser})
    df_new = pd.merge(df, df_new, how = "inner", on = "Tele Name")
    
    players = df_new[df_new['Goalie'] == 0].count()[0]
    goalies = df_new[df_new['Goalie'] == 1].count()[0]
    
    return df_new, players, goalies

df_new, players, goalies = get_details(attendance)

# Get number of groups to make
def get_groups(total):
    each = int(input("How many per group? "))
    if total % 5 == 0:
        return int(total / each), each
    else:
        return int(total // each + 1), each
    
groups, each = get_groups(players)

# Make group multi-index
def make_index(groups, each, goalies):
    output_1 = []
    output_2 = []
    
    for i in range(1, groups + 1):
        if i%2 != 0:
            a = [('Red/Dark {}'.format(i))] * each
            output_1 = output_1 + a
        else:
            b = ['White/Light {}'.format(i)] * each
            output_1 = output_1 + b
    c = ['Goalies'] * goalies
    output_1 = output_1 + c
            
    d = list(range(1, each + 1)) * groups
    e = list(range(1, goalies + 1)) 
    output_2 = output_2 + d + e
    
    hier_index = list(zip(output_1, output_2))
    hier_index = pd.MultiIndex.from_tuples(hier_index)
    
    return hier_index

index = make_index(groups, each, goalies)

def make_groups(df_new, hier_index):
    output = []
    total = df_new.shape[0]
    extra = hier_index.shape[0] - total
    
    if extra != 0:
        empty = ['-'] * extra
    else:
        empty = []
        
    df_players = df_new[df_new['Goalie'] == 0]
    players_list = [[x] for x in list(df_players['Tele Name'])]
    players_list = players_list + empty
    random.shuffle(players_list)

    df_goalies = df_new[df_new['Goalie'] == 1]
    goalies_list = [[x] for x in list(df_goalies['Tele Name'])]
    
    output = output + players_list + goalies_list
    df_final = pd.DataFrame(output, index, columns = ['Names'])
    return df_final

make_groups(df_new, index)

How many per group? 5

                         Names
Red/Dark 1    1        weils üê≥
              2           Ryan
              3         Vernon
              4      Ding xuan
              5        Jun Hao
White/Light 2 1         Kotaru
              2       Nicholas
              3           mudz
              4  VictoriaChong
              5              -
Red/Dark 3    1       sheryl üóø
              2          Emmet
              3         Declan
              4            Jes
              5      cher lynn
White/Light 4 1           Jude
              2          kenny
              3         Samuel
              4           Adri
              5      jeremyyeh
Goalies       1        S H Lee
              2          Raash
              3          Lutfi